<div class="max-w-3xl mx-auto px-4 py-10">
  <div class="bg-white rounded-xl shadow-sm ring-1 ring-gray-900/5 p-8">
    <p class="text-base text-gray-500 mb-8">Yeni bir sipariş oluşturun.</p>

    <form (ngSubmit)="onSubmit()" class="space-y-8">
      <!-- Basic Info Section -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-2">
        <div class="col-span-full space-y-1.5">
          <label for="client_name" class="block text-sm font-medium text-gray-900">Müşteri Adı</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
            <input matInput [(ngModel)]="order.client_name" name="client_name" id="client_name">
          </mat-form-field>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-2">
        <div class="col-span-full space-y-1.5">
          <label for="client_phone" class="block text-sm font-medium text-gray-900">Müşteri Telefonu</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
            <input matInput [(ngModel)]="order.client_phone" name="client_phone" id="client_phone" type="tel"
              placeholder="0695784556" pattern="[0-9]{10}">
          </mat-form-field>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-2">
        <div class="col-span-full space-y-1.5">
          <label for="description" class="block text-sm font-medium text-gray-900">Açıklama</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
            <textarea matInput rows="1" [(ngModel)]="order.description" name="description" id="description"></textarea>
          </mat-form-field>
        </div>
      </div>


      <!-- Transactions Section -->
      <div class="border-t border-gray-900/10 pt-2">
        <div class="space-y-3">
          <!-- Product Out -->
          <button type="button" (click)="openTransactionDrawer('Product', 'Out')"
            class="w-full rounded-lg bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-red-200 hover:bg-red-500 flex items-center justify-center gap-x-2">
            <span class="text-sm text-white">Ürün Sat</span>
          </button>
          <!-- Cash In -->
          <button type="button" (click)="openTransactionDrawer('Cash', 'In')"
            class="w-full rounded-lg bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-blue-200 hover:bg-green-500 flex items-center justify-center gap-x-2">
            <span class="text-sm text-white">Nakit Giriş</span>
          </button>
          <!-- Bank In -->
          <button type="button" (click)="openTransactionDrawer('Bank', 'In')"
            class="w-full rounded-lg bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-blue-200 hover:bg-green-500 flex items-center justify-center gap-x-2">
            <span class="text-sm text-white">Banka Girişi</span>
          </button>
        </div>

        <div *ngIf="order.transactions.length > 0" class="mt-6 space-y-1" cdkDropList
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let transaction of order.transactions; let i = index"
            class="group flex items-center justify-between gap-x-4 rounded-lg py-0 px-3 shadow-sm ring-1 ring-gray-900/5"
            [ngClass]="{'bg-green-100': transaction.direction === 'In', 'bg-red-100': transaction.direction === 'Out'}"
            cdkDrag>
            <div class="flex items-center gap-x-2">
              <mat-icon cdkDragHandle
                class="text-gray-400 cursor-move opacity-0 group-hover:opacity-100 transition h-5 w-5 text-sm">
                drag_indicator
              </mat-icon>
              <div class="flex items-center gap-x-2">
                <span class="text-sm text-gray-500">
                  <ng-container *ngIf="transaction.type === 'Product' && transaction.direction === 'Out'">
                    {{transaction.quantity}} x {{getProductById(transaction.product_id!)?.name}}
                    <ng-container
                      *ngIf="transaction.weight !== undefined && transaction.weight !== null && transaction.weight > 0">{{transaction.weight}}g</ng-container>
                    <ng-container
                      *ngIf="transaction.weight !== undefined && transaction.weight !== null && transaction.weight > 0 && transaction.carat !== undefined && transaction.carat !== null && transaction.carat > 0">,
                    </ng-container>
                    <ng-container
                      *ngIf="transaction.carat !== undefined && transaction.carat !== null && transaction.carat > 0">{{transaction.carat}}
                      ayar</ng-container>
                    <span class="ml-2 font-medium">{{transaction.weight24k}}g</span>
                  </ng-container>
                  <ng-container *ngIf="transaction.type === 'Cash' && transaction.direction === 'In'">
                    Nakit: {{formatAmount(transaction.amount)}} EUR
                  </ng-container>
                  <ng-container *ngIf="transaction.type === 'Bank' && transaction.direction === 'In'">
                    Banka: {{formatAmount(transaction.amount)}} EUR
                  </ng-container>
                </span>
              </div>
            </div>

            <div class="flex items-center gap-x-1">
              <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-40" *ngIf="transaction.type === 'Product'">
                <mat-select [(ngModel)]="transaction.status" name="status" [value]="transaction.status || 'ToBeOrdered'">
                  <mat-option value="ToBeOrdered">Sipariş Edilecek</mat-option>
                  <mat-option value="AwaitingWholesaler">Toptancı Bekleniyor</mat-option>
                  <mat-option value="AwaitingCustomer">Müşteri Bekleniyor</mat-option>
                  <mat-option value="HandedOut">Teslim Edildi</mat-option>
                </mat-select>
              </mat-form-field>
              <button type="button" (click)="editTransaction(i)"
                class="rounded-md p-1 text-gray-600 hover:text-gray-900 hover:bg-gray-50">
                <mat-icon class="h-4 w-4">edit</mat-icon>
              </button>
              <button type="button" (click)="deleteTransaction(i)"
                class="rounded-md p-1 text-gray-600 hover:text-red-600 hover:bg-red-50">
                <mat-icon class="h-4 w-4">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- Total Order Amount -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-2 mt-6">
          <div class="col-span-full space-y-1.5">
            <label for="total_order_amount" class="block text-sm font-medium text-gray-900">Sipariş Tutarı</label>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
              <input matInput type="number" [(ngModel)]="order.total_order_amount" name="total_order_amount"
                id="total_order_amount">
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-2">
          <div class="col-span-full space-y-1.5">
            <label for="date_planned" class="block text-sm font-medium text-gray-900">Planlanan Teslimat Tarihi</label>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
              <input matInput [matDatepicker]="picker" [(ngModel)]="order.date_planned" name="date_planned"
                id="date_planned">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- Totals Section -->
        <div *ngIf="order.transactions.length > 0" class="mt-8 space-y-4">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- Gold Totals -->
            <div class="space-y-2">
              <h3 class="text-sm font-medium text-gray-900">Altın Toplamları (24K)</h3>
              <div class="space-y-1">
                <div class="flex justify-between">
                  <span class="text-sm text-gray-500">Toplam Satılan Ürünler:</span>
                  <span class="text-sm font-medium">{{calculateTotal24kProductOut()}}g</span>
                </div>
                <div class="flex justify-between">
                  <span class="text-sm font-medium text-gray-900">Toplam Satılan Altın:</span>
                  <span class="text-sm font-medium">{{calculateTotal24kOut()}}g</span>
                </div>

              </div>
            </div>

            <!-- Cash/Bank Totals -->
            <div class="space-y-2">
              <h3 class="text-sm font-medium text-gray-900">Ödeme Toplamları</h3>
              <div class="space-y-1">
                <div class="flex justify-between">
                  <span class="text-sm text-gray-500">Toplam Alınan Nakit Ödeme:</span>
                  <span class="text-sm font-medium">{{calculateTotalCashIn()}} EUR</span>
                </div>
                <div class="flex justify-between">
                  <span class="text-sm text-gray-500">Toplam Alınan Banka Ödemesi:</span>
                  <span class="text-sm font-medium">{{calculateTotalBankIn()}} EUR</span>
                </div>
                <div class="flex justify-between">
                  <span class="text-sm text-gray-500">Toplam Alınan Ödeme:</span>
                  <span class="text-sm font-medium">{{calculateTotalPaymentIn()}} EUR</span>
                </div>
                <div class="flex justify-between">
                  <span class="text-sm text-gray-500">Kalan Ödeme:</span>
                  <span class="text-sm font-medium">{{calculateRemainingAmount()}} EUR</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="flex items-center justify-end gap-x-6 pt-6 border-t border-gray-900/10">
        <button type="button" (click)="navigateToOrders()"
          class="rounded-lg bg-gray-200 px-4 py-2 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 hover:text-gray-800 transition-colors">
          İptal
        </button>
        <button type="submit" [disabled]="!isOrderValid()"
          class="rounded-lg bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:opacity-50 disabled:cursor-not-allowed">
          {{isEditing ? 'Siparişi güncelle' : 'Sipariş oluştur'}}
        </button>
      </div>
    </form>
  </div>
</div>

<app-drawer [isOpen]="isDrawerOpen" [skipAnimation]="skipDrawerAnimation"
  [title]="editingTransactionIndex !== null ? 'İşlemi Düzenle' : 'İşlem Ekle'" (close)="onDrawerClose()">
  <app-transaction
    [transaction]="editingTransactionIndex !== null ? order.transactions[editingTransactionIndex] : undefined"
    [type]="drawerType" [direction]="drawerDirection" (transactionSubmit)="onTransactionSubmit($event)"
    (cancel)="onDrawerClose()">
  </app-transaction>
</app-drawer>