.mat-mdc-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-mdc-row:nth-child(odd) {
  background-color: white;
}

.mat-mdc-cell:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-mdc-header-cell:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}
