<div>
  <form (ngSubmit)="onSubmit($event)" class="space-y-6">
    <div class="grid grid-cols-1 gap-4">

      @if (formTransaction.type === 'Product') {
      <div class="space-y-1">
        <label for="product" class="block text-sm font-medium text-gray-900">Ürün</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input #productInput type="text" matInput [formControl]="productControl" [matAutocomplete]="auto"
            placeholder="Ürün seçin">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="onProductSelected($event)">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{product.name}}
              @if (product.is_gold || product.contains_gold) {
              @if (product.carat !== undefined && product.carat !== null && product.weight_brut !== undefined &&
              product.weight_brut !== null && product.weight_brut > 0) {
              <ng-container>({{product.carat}} ayar, {{product.weight_brut}}g)</ng-container>
              }
              @if (product.carat !== undefined && product.carat !== null && (!product.weight_brut || product.weight_brut
              === 0)) {
              <ng-container>({{product.carat}} ayar)</ng-container>
              }
              @if ((!product.carat || product.carat === null) && product.weight_brut !== undefined &&
              product.weight_brut !== null && product.weight_brut > 0) {
              <ng-container>({{product.weight_brut}}g)</ng-container>
              }
              }
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      }

      @if (
        (selectedProduct?.is_gold || selectedProduct?.contains_gold) || 
        formTransaction.type === 'Scrap'
      ) {
      <div class="space-y-1">
        <label for="carat" class="block text-sm font-medium text-gray-900">Ayar</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <mat-select #caratSelect [(ngModel)]="formTransaction.carat" name="carat" [disabled]="isCaratDisabled"
            (selectionChange)="onDataChanged('carat')">
            <mat-option *ngFor="let carat of caratOptions" [value]="carat">
              {{ carat }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      }

      @if(
        selectedProduct && 
        (selectedProduct.is_gold || selectedProduct.contains_gold) &&
        selectedProduct.weight24k
      ){
      <div class="space-y-1">
        <label for="weight" class="block text-sm font-medium text-gray-900">
          @if (formTransaction.type === 'Product') {
          Tek ürün brüt altın ağırlığı
          }
        </label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput type="number" appDisableScrollOnNumber min="0" [(ngModel)]="formTransaction.weight_brut" name="weight_brut"
            [disabled]=true>
          <span matSuffix class="text-gray-500 ml-1 pr-2">g</span>
        </mat-form-field>
      </div>
      <div class="space-y-1">
        <label for="weight" class="block text-sm font-medium text-gray-900">
          @if (formTransaction.type === 'Product') {
          Toplam brüt altın ağırlığı
          }
        </label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput type="number" appDisableScrollOnNumber min="0" [(ngModel)]="formTransaction.weight_brut_total" name="weight_brut_total"
            [disabled]=true>
          <span matSuffix class="text-gray-500 ml-1 pr-2">g</span>
        </mat-form-field>
      </div>
      }

      @if(
        (
          selectedProduct && 
          (selectedProduct.is_gold || selectedProduct.contains_gold) &&
          !selectedProduct.weight24k
        ) ||
        formTransaction.type === 'Scrap'
      ){
      <div class="space-y-1">
        <label for="weight" class="block text-sm font-medium text-gray-900">
          @if (formTransaction.type === 'Product') {
          Toplam brüt altın ağırlığı
          }
          @if (formTransaction.type === 'Scrap') {
          Toplam brüt altın ağırlığı
          }
        </label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput type="number" appDisableScrollOnNumber min="0" [(ngModel)]="formTransaction.weight_brut_total" name="weight_brut_total"
            [disabled]=false (input)="onDataChanged('weight_brut_total')" (focus)="selectWeightTotalInput($event)">
          <span matSuffix class="text-gray-500 ml-1 pr-2">g</span>
        </mat-form-field>
      </div>
      }
      

      @if (selectedProduct) {
      <div class="space-y-1">
        <label for="quantity" class="block text-sm font-medium text-gray-900">
          @if (formTransaction.direction === 'In') {
          Alınan Ürün Adeti
          }
          @if (formTransaction.direction === 'Out') {
          Satılan Ürün Adeti
          }
        </label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput type="number" appDisableScrollOnNumber name="quantity" [(ngModel)]="formTransaction.quantity" min="1" step="1"
            (focus)="selectQuantity($event)" (input)="onDataChanged('quantity')" (keypress)="($event.charCode >= 48 && $event.charCode <= 57) || $event.preventDefault()">
        </mat-form-field>
      </div>
      }

      @if (context === 'Supply' && (selectedProduct?.is_gold || formTransaction.type === 'Scrap')) {
      <div class="space-y-1">
        <label for="agreed_milliemes" class="block text-sm font-medium text-gray-900">Milyem</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput type="number" appDisableScrollOnNumber min="0" [(ngModel)]="formTransaction.agreed_milliemes"
            name="agreed_milliemes" (input)="onDataChanged('agreed_milliemes')" (focus)="selectMilliemesInput($event)">
        </mat-form-field>
      </div>
      }

      @if (selectedProduct || formTransaction.type === 'Scrap' ) {
      <div class="space-y-1">
        <label for="agreed_price" class="block text-sm font-medium text-gray-900">Tutar</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput type="number" appDisableScrollOnNumber min="0" [(ngModel)]="formTransaction.agreed_price"
            name="agreed_price" (input)="onDataChanged('agreed_price')" (focus)="selectPriceInput($event)">
          <span matSuffix class="text-gray-500 ml-1 pr-2">EUR</span>
        </mat-form-field>
      </div>
      }




      @if (formTransaction.type === 'Cash' || formTransaction.type === 'Bank' || formTransaction.type === 'Money') {
      <div class="space-y-1">
        <label for="amount" class="block text-sm font-medium text-gray-900">Tutar</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input #amountInput matInput type="number" appDisableScrollOnNumber [(ngModel)]="formTransaction.amount" min="0"
            name="amount" (focus)="selectAmountInput($event)" (input)="onDataChanged('amount')">
          <span matSuffix class="text-gray-500 ml-1 pr-2">EUR</span>
        </mat-form-field>
      </div>
      }


      @if (context === 'Order') {
      <div class="space-y-1">
        <label for="status" class="block text-sm font-medium text-gray-900">Durum</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <mat-select [(ngModel)]="formTransaction.status" name="status" (selectionChange)="onDataChanged('status')">
            <mat-option *ngFor="let status of statusOptions" [value]="status.key">
              {{ status.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      }

      @if (context === 'Order' && (formTransaction.status === 'Delivered' || formTransaction.status === 'Received')) {
      <div class="space-y-1">
        <label for="date" class="block text-sm font-medium text-gray-900">Teslimat Tarihi</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <input matInput [matDatepicker]="picker" [(ngModel)]="formTransaction.date" name="date"
            (dateChange)="onDataChanged('date')">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      }

      @if (context === 'Supply') {
      <div class="space-y-1">
        <mat-checkbox [(ngModel)]="formTransaction.paiable_as_cash_only"
          (change)="onDataChanged('paiable_as_cash_only')" name="paiable_as_cash_only">
          Euro tutarı olarak hesaplanacak
        </mat-checkbox>
      </div>
      }




      @if (
      context === 'Supply' && (
      (selectedProduct && !selectedProduct.is_gold && !selectedProduct.contains_gold) ||
      formTransaction.type === 'Cash' ||
      formTransaction.type === 'Bank' ||
      formTransaction.type === 'Money'
      )
      ) {
      <div class="space-y-1">
        <label for="agreed_weight24k" class="text-sm font-medium text-gray-900 inline">
          Anlaşılan kura göre has altın miktarı:
        </label>
        <span class="text-gray-900 text-base inline">
          {{formTransaction.agreed_weight24k}}g
        </span>
      </div>
      }

      @if (context === 'Supply' && ((selectedProduct && selectedProduct.is_gold) || formTransaction.type === 'Scrap')) {
      <div class="space-y-1">
        <label for="agreed_weight24k" class="text-sm font-medium text-gray-900 inline">
          Anlaşılan milyeme göre has altın miktarı:
        </label>
        <span class="text-gray-900 text-base inline">
          {{formTransaction.agreed_weight24k}}g
        </span>
      </div>
      }



      @if (context === 'Supply' && ( (selectedProduct?.is_gold || selectedProduct?.contains_gold) ||
      formTransaction.type === 'Scrap')) {
      <div class="space-y-1">
        <label for="weight24k" class="text-sm font-medium text-gray-900 inline">Has altın miktarı:
        </label>
        <span class="text-gray-900 text-base inline">
          {{formTransaction.weight24k}}g
        </span>
      </div>
      }


      <br>
      Debug:
      <br>
      Ayar: {{formTransaction.carat}}
      <br>
      Adet: {{formTransaction.quantity}}
      <br>
      Tek brüt: {{formTransaction.weight_brut}}
      <br>
      Toplam brüt: {{formTransaction.weight_brut_total}}
      <br>
      Has altın: {{formTransaction.weight24k}}
      <br>
      Milyem: {{formTransaction.agreed_milliemes}}
      <br>
      Anlaşılan has altın: {{formTransaction.agreed_weight24k}}
      <br>
      Anlaşılan tutar: {{formTransaction.agreed_price}}
      <br>
      Tutar: {{formTransaction.amount}}

    </div>

    <div class="flex items-center justify-end gap-x-4">
      <button type="submit"
        class="rounded-lg bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="!isTransactionValid()">
        {{ transaction ? 'İşlemi güncelle' : 'İşlem oluştur' }}
      </button>
      <button type="button" (click)="onCancel()"
        class="rounded-lg bg-gray-200 px-4 py-2 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 hover:text-gray-800 transition-colors">
        İptal
      </button>
    </div>
  </form>
</div>