.full-width {
  width: 100%;
}

mat-card {
  margin: 20px;
}

mat-card-content {
  padding: 20px;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-column-date {
  width: 100px;
}

.mat-column-user {
  width: 150px;
}

.mat-column-description {
  min-width: 200px;
}

.mat-column-transactions {
  min-width: 200px;
}

.mat-column-currentRate {
  width: 120px;
  text-align: right;
}

.mat-column-total24kProductIn {
  width: 120px;
  text-align: right;
}

.mat-column-total24kProductOut {
  width: 120px;
  text-align: right;
}

.mat-column-total24kScrapIn,
.mat-column-total24kScrapOut,
.mat-column-total24kIn,
.mat-column-total24kOut {
  width: 120px;
  text-align: right;
}

.mat-column-totalCashIn,
.mat-column-totalCashOut,
.mat-column-totalBankIn,
.mat-column-totalBankOut {
  width: 120px;
  text-align: right;
} 